<!DOCTYPE root[<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>
 
<!ELEMENT Miscellaneous ANY>
<!ATTLIST Miscellaneous id ID #REQUIRED>
<!ELEMENT Frontpage ANY>
<!ATTLIST Frontpage id ID #REQUIRED>
<!ELEMENT FrontpageSliderItem ANY>
<!ATTLIST FrontpageSliderItem id ID #REQUIRED>
<!ELEMENT FrontpageSliderFolder ANY>
<!ATTLIST FrontpageSliderFolder id ID #REQUIRED>
<!ELEMENT Global ANY>
<!ATTLIST Global id ID #REQUIRED>
<!ELEMENT Category ANY>
<!ATTLIST Category id ID #REQUIRED>
<!ELEMENT CategoryFolder ANY>
<!ATTLIST CategoryFolder id ID #REQUIRED>
<!ELEMENT Kontaktside ANY>
<!ATTLIST Kontaktside id ID #REQUIRED>
<!ELEMENT Mapper ANY>
<!ATTLIST Mapper id ID #REQUIRED>
<!ELEMENT PortfolioList ANY>
<!ATTLIST PortfolioList id ID #REQUIRED>
<!ELEMENT PortfolioPage ANY>
<!ATTLIST PortfolioPage id ID #REQUIRED>
<!ELEMENT Poster ANY>
<!ATTLIST Poster id ID #REQUIRED>
<!ELEMENT Sider ANY>
<!ATTLIST Sider id ID #REQUIRED>
<!ELEMENT Teaser ANY>
<!ATTLIST Teaser id ID #REQUIRED>
<!ELEMENT TeaserFolder ANY>
<!ATTLIST TeaserFolder id ID #REQUIRED>
<!ELEMENT Testimonial ANY>
<!ATTLIST Testimonial id ID #REQUIRED>
<!ELEMENT TestimonialsFolder ANY>
<!ATTLIST TestimonialsFolder id ID #REQUIRED>

]>
<root id="-1">
  <Frontpage id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-29T21:31:28" updateDate="2013-08-29T21:53:49" nodeName="Forside" urlName="forside" path="-1,1050" isDoc="" nodeType="1047" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="Frontpage">
    <header>Forside</header>
    <description><![CDATA[<p><span>Vores målsætning er at fremstå som en kvalitetsbevidst blikkenslager med et højt serviceniveau, der leverer kvalitetsarbejde til den rette pris. Vi tilbyder vores professionelle service, når det bl.a. handler om bearbejdning af zink og kobber. For at sikre fortsat eksistens og udvikling for vores fag, er det vores idé altid at levere et stykke arbejde, der indfrier kundens forventninger i henhold til den indgåede aftale. Skulle dette have Deres interesse, står vi gerne til rådighed med yderligere oplysninger og eventuelt et personligt møde. Vi sørger altid for at overholde aftalte betingelser og leveringstider. Send os en mail under kontakt os, eller ring for et uforpligtende tilbud – God fornøjelse med hjemmesiden!</span></p>]]></description>
    <bodyText><![CDATA[]]></bodyText>
    <pageImage><![CDATA[]]></pageImage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <naviText />
    <link />
    <metaTitle />
    <metaDescription />
    <metaKeywords />
    <topTeaser><![CDATA[1076]]></topTeaser>
    <middleTeaser><![CDATA[1077]]></middleTeaser>
    <frontpageSlider><![CDATA[1081,1082,1083,1135]]></frontpageSlider>
    <testimonials><![CDATA[1074,1075]]></testimonials>
    <bottomTeasers><![CDATA[1136,1137,1138]]></bottomTeasers>
    <PortfolioList id="1055" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2013-07-29T22:59:47" updateDate="2013-08-01T01:16:48" nodeName="Portfolio" urlName="portfolio" path="-1,1050,1055" isDoc="" nodeType="1053" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="PortfolioList">
      <header />
      <description><![CDATA[]]></description>
      <metaKeywords />
      <umbracoNaviHide>0</umbracoNaviHide>
      <naviText />
      <link />
      <metaTitle />
      <metaDescription />
      <PortfolioPage id="1058" parentID="1055" level="3" creatorID="0" sortOrder="0" createDate="2013-08-01T01:23:11" updateDate="2013-08-16T20:40:21" nodeName="Blik og facade" urlName="blik-og-facade" path="-1,1050,1055,1058" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="PortfolioPage">
        <header>Blik og facade arbejde</header>
        <description><![CDATA[<p><span>Vi udfører alle former for blikkenslagerarbejde fra tagrender til moderne butiks- og bygningsdesign i både zink og kobber</span></p>]]></description>
        <bodyText><![CDATA[<p><span>I alt for mange tilfælde skyldes defekte installationer, at der er anvendt produkter af for ringe kvalitet eller at lovpligtige foreskrifter ikke er overholdt. Ofte desværre begge dele. Det kan betyde, at din forsikring ikke dækker eksempelvis en vandskade, da produktet simpelthen ikke er anvendeligt og lovligt under danske forhold. Vi forhandler udelukkende produkter, der er godkendt af Boligministeriets Godkendelsesudvalg for vand- og afløbsmateriel - Bedre kendt som VA-godkendte produkter....</span></p>]]></bodyText>
        <pageImage><![CDATA[1097]]></pageImage>
        <umbracoNaviHide>0</umbracoNaviHide>
        <naviText />
        <link />
        <metaTitle />
        <metaDescription />
        <metaKeywords />
        <categories><![CDATA[1088,1090]]></categories>
        <ownSinglePage>1</ownSinglePage>
        <portfolioGallery><![CDATA[1143,1144,1145,1146,1147,1148,1149]]></portfolioGallery>
        <file><![CDATA[1151]]></file>
        <fileText>Download dokument</fileText>
      </PortfolioPage>
      <PortfolioPage id="1139" parentID="1055" level="3" creatorID="0" sortOrder="1" createDate="2013-08-13T00:22:46" updateDate="2013-08-13T00:24:43" nodeName="Renovering af tagrender" urlName="renovering-af-tagrender" path="-1,1050,1055,1139" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="PortfolioPage">
        <header>Renovering af tagrender</header>
        <description><![CDATA[<p>Vi udfører alle former for blikkenslagerarbejde fra tagrender til moderne butiks- og bygningsdesign i både zink og kobber.</p>]]></description>
        <pageImage><![CDATA[1098]]></pageImage>
        <umbracoNaviHide>0</umbracoNaviHide>
        <naviText />
        <link />
        <metaTitle />
        <metaDescription />
        <metaKeywords />
        <categories><![CDATA[1140]]></categories>
        <ownSinglePage>0</ownSinglePage>
      </PortfolioPage>
    </PortfolioList>
    <Kontaktside id="1052" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2013-07-29T22:57:14" updateDate="2013-08-01T19:52:09" nodeName="Kontakt" urlName="kontakt" path="-1,1050,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="Kontaktside">
      <header />
      <description><![CDATA[]]></description>
      <metaKeywords />
      <umbracoNaviHide>0</umbracoNaviHide>
      <naviText />
      <link />
      <metaTitle />
      <metaDescription />
    </Kontaktside>
    <Miscellaneous id="1159" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2013-09-01T22:32:19" updateDate="2013-09-01T22:32:32" nodeName="Diverse" urlName="diverse" path="-1,1050,1159" isDoc="" nodeType="1157" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Miscellaneous">
      <umbracoNaviHide>1</umbracoNaviHide>
      <Miscellaneous id="1161" parentID="1159" level="3" creatorID="0" sortOrder="0" createDate="2013-09-01T22:34:18" updateDate="2013-09-01T22:34:21" nodeName="Inspiration" urlName="inspiration" path="-1,1050,1159,1161" isDoc="" nodeType="1157" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Miscellaneous">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Textpage id="1165" parentID="1161" level="4" creatorID="0" sortOrder="0" createDate="2013-09-01T22:35:32" updateDate="2013-09-01T22:35:35" nodeName="Unik brugskunst" urlName="unik-brugskunst" path="-1,1050,1159,1161,1165" isDoc="" nodeType="1158" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Textpage">
          <header />
          <description><![CDATA[]]></description>
          <bodyText><![CDATA[]]></bodyText>
          <pageImage><![CDATA[]]></pageImage>
          <umbracoNaviHide>0</umbracoNaviHide>
          <naviText />
          <link />
          <metaTitle />
          <metaDescription />
          <metaKeywords />
        </Textpage>
      </Miscellaneous>
      <Miscellaneous id="1162" parentID="1159" level="3" creatorID="0" sortOrder="1" createDate="2013-09-01T22:34:47" updateDate="2013-09-01T22:34:49" nodeName="Ydelser" urlName="ydelser" path="-1,1050,1159,1162" isDoc="" nodeType="1157" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Miscellaneous">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Textpage id="1163" parentID="1162" level="4" creatorID="0" sortOrder="0" createDate="2013-09-01T22:34:58" updateDate="2013-09-02T21:25:28" nodeName="Blikkenslager arbejde" urlName="blikkenslager-arbejde" path="-1,1050,1159,1162,1163" isDoc="" nodeType="1158" creatorName="admin" writerName="admin" writerID="0" template="1167" nodeTypeAlias="Textpage">
          <header />
          <description><![CDATA[]]></description>
          <bodyText><![CDATA[<p><span>Vi løser alle former for blikkenslagerarbejde, og vi er gode til tag- og facade arbejde. Vi sørger for opsætning og renovering af tagrender, kvist og facade. Vi har mange års erfaring, og går grundigt til værks, når blikopgaver skal løses</span><span class="s1">.</span></p>
<p><span class="s1"><span>Vi beskæftiger fra 7 til 15 medarbejdere, afhængigt af sæsonudsving. Vi har desuden lærlinge ansat. Vi løser alle typer VVS-opgaver, reparationer og vedligeholdelse for boligselskaber, industrien, kommuner og private husstande. Vi sørger for at kombinere højt service niveau, med kvalitet og her igennem sikres en optimal økonomisk drift af vores arbejde.</span></span></p>]]></bodyText>
          <pageImage><![CDATA[]]></pageImage>
          <umbracoNaviHide>0</umbracoNaviHide>
          <naviText />
          <link />
          <metaTitle />
          <metaDescription />
          <metaKeywords />
        </Textpage>
        <Textpage id="1164" parentID="1162" level="4" creatorID="0" sortOrder="1" createDate="2013-09-01T22:35:18" updateDate="2013-09-01T22:35:20" nodeName="VVS arbejde" urlName="vvs-arbejde" path="-1,1050,1159,1162,1164" isDoc="" nodeType="1158" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Textpage">
          <header />
          <description><![CDATA[]]></description>
          <bodyText><![CDATA[]]></bodyText>
          <pageImage><![CDATA[]]></pageImage>
          <umbracoNaviHide>0</umbracoNaviHide>
          <naviText />
          <link />
          <metaTitle />
          <metaDescription />
          <metaKeywords />
        </Textpage>
      </Miscellaneous>
    </Miscellaneous>
    <Global id="1071" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2013-08-05T20:22:36" updateDate="2013-09-01T22:32:32" nodeName="Globale elementer" urlName="globale-elementer" path="-1,1050,1071" isDoc="" nodeType="1066" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Global">
      <TeaserFolder id="1072" parentID="1071" level="3" creatorID="0" sortOrder="4" createDate="2013-08-05T20:22:46" updateDate="2013-08-20T00:18:59" nodeName="Teasers" urlName="teasers" path="-1,1050,1071,1072" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="TeaserFolder">
        <Teaser id="1076" parentID="1072" level="4" creatorID="0" sortOrder="5" createDate="2013-08-05T20:24:56" updateDate="2013-09-01T18:28:20" nodeName="Topteaser" urlName="topteaser" path="-1,1050,1071,1072,1076" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Teaser">
          <titleLong><![CDATA[Med over 30 års erfaring, består vores arbejde af høj kvalitet, leveret til tiden.]]></titleLong>
          <title>Skaber blikkenslager arbejder med stor omhu</title>
          <description><![CDATA[]]></description>
          <link />
          <icon />
          <manchet><![CDATA[]]></manchet>
        </Teaser>
        <Teaser id="1077" parentID="1072" level="4" creatorID="0" sortOrder="6" createDate="2013-08-05T20:26:36" updateDate="2013-09-01T22:48:49" nodeName="Midtteaser" urlName="midtteaser" path="-1,1050,1071,1072,1077" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Teaser">
          <titleLong><![CDATA[FÅ PROFESSIONEL ENERGIVEJLEDNING FØR DU RENOVERER DIT HUS.]]></titleLong>
          <title />
          <description><![CDATA[]]></description>
          <link>
            <url-picker mode="Content">
              <new-window>True</new-window>
              <node-id>1052</node-id>
              <url>/kontakt.aspx</url>
              <link-title />
            </url-picker>
          </link>
          <icon />
          <manchet><![CDATA[Ejer du en mindre bygning eller bolig, der skal renoveres, eller synes du, energiregningen er for høj? Så er det en god ide at starte med at kontakte os. Jeg giver gerne et gratis tilbud..]]></manchet>
        </Teaser>
        <Teaser id="1136" parentID="1072" level="4" creatorID="0" sortOrder="7" createDate="2013-08-08T23:12:33" updateDate="2013-09-02T21:15:15" nodeName="Blikkenslager arbejde" urlName="blikkenslager-arbejde" path="-1,1050,1071,1072,1136" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Teaser">
          <titleLong><![CDATA[]]></titleLong>
          <title>Blikkenslager arbejde</title>
          <description><![CDATA[<p><span>Vi udfører alle former for blikkenslagerarbejde fra tagrender til moderne butiks- og bygningsdesign i både zink og kobber. Vores arbejde er baseret på gamle håndværksprincipper men udført med moderne teknikker.</span></p>]]></description>
          <link>
            <url-picker mode="Content">
              <new-window>False</new-window>
              <node-id>1163</node-id>
              <url>/diverse/ydelser/blikkenslager-arbejde.aspx</url>
              <link-title />
            </url-picker>
          </link>
          <icon>&lt;i class="icon-resize-small"&gt;&lt;/i&gt;</icon>
          <manchet><![CDATA[]]></manchet>
        </Teaser>
        <Teaser id="1137" parentID="1072" level="4" creatorID="0" sortOrder="8" createDate="2013-08-08T23:12:45" updateDate="2013-09-01T22:36:01" nodeName="VVS arbejde" urlName="vvs-arbejde" path="-1,1050,1071,1072,1137" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Teaser">
          <titleLong><![CDATA[]]></titleLong>
          <title>VVS arbejde</title>
          <description><![CDATA[<p><span>Vi udfører alle former for blikkenslagerarbejde fra tagrender til moderne butiks- og bygningsdesign i både zink og kobber. Vores arbejde er baseret på gamle håndværksprincipper men udført med moderne teknikker.</span></p>]]></description>
          <link />
          <icon>&lt;i class="icon-cogs"&gt;&lt;/i&gt;</icon>
          <manchet><![CDATA[]]></manchet>
        </Teaser>
        <Teaser id="1138" parentID="1072" level="4" creatorID="0" sortOrder="9" createDate="2013-08-08T23:12:55" updateDate="2013-09-01T22:36:17" nodeName="Unik brugskunst" urlName="unik-brugskunst" path="-1,1050,1071,1072,1138" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Teaser">
          <titleLong><![CDATA[]]></titleLong>
          <title>Unik brugskunst</title>
          <description><![CDATA[<p><span>Vi udfører alle former for blikkenslagerarbejde fra tagrender til moderne butiks- og bygningsdesign i både zink og kobber. Vores arbejde er baseret på gamle håndværksprincipper men udført med moderne teknikker.</span></p>]]></description>
          <link />
          <icon>&lt;i class="icon-plane"&gt;&lt;/i&gt;</icon>
          <manchet><![CDATA[]]></manchet>
        </Teaser>
      </TeaserFolder>
      <TestimonialsFolder id="1073" parentID="1071" level="3" creatorID="0" sortOrder="5" createDate="2013-08-05T20:22:54" updateDate="2013-08-20T00:18:59" nodeName="Testimonials" urlName="testimonials" path="-1,1050,1071,1073" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="TestimonialsFolder">
        <Testimonial id="1074" parentID="1073" level="4" creatorID="0" sortOrder="2" createDate="2013-08-05T20:23:16" updateDate="2013-08-20T00:18:59" nodeName="Albert Einstein" urlName="albert-einstein" path="-1,1050,1071,1073,1074" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Testimonial">
          <testimonialText><![CDATA[The human being is part of the whole, called by us the ‘universe’, a part limited in time and space. He experiences himself, his thoughts and feelings, as something separate from the rest — a kind of optical delusion of consciousness. This delusion is a kind of prison for us, restricting us to our personal desires. Our task must be to free ourselves from this prison by widening our circle of compassion to embrace all living creatures and the whole of nature in its beauty.]]></testimonialText>
          <fromTestimonial>Albert Einstein</fromTestimonial>
        </Testimonial>
        <Testimonial id="1075" parentID="1073" level="4" creatorID="0" sortOrder="3" createDate="2013-08-05T20:24:00" updateDate="2013-08-20T00:18:59" nodeName="Maya Angelou" urlName="maya-angelou" path="-1,1050,1071,1073,1075" isDoc="" nodeType="1068" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Testimonial">
          <testimonialText><![CDATA[One isn’t necessarily born with courage, but one is born with potential. Without courage, we cannot practice any other virtue with consistency. We can’t be kind, true, merciful, generous, or honest.]]></testimonialText>
          <fromTestimonial>Maya Angelou</fromTestimonial>
        </Testimonial>
      </TestimonialsFolder>
      <FrontpageSliderFolder id="1080" parentID="1071" level="3" creatorID="0" sortOrder="6" createDate="2013-08-05T20:32:31" updateDate="2013-08-20T00:18:59" nodeName="Forside karrousel" urlName="forside-karrousel" path="-1,1050,1071,1080" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="FrontpageSliderFolder">
        <FrontpageSliderItem id="1081" parentID="1080" level="4" creatorID="0" sortOrder="4" createDate="2013-08-05T20:33:20" updateDate="2013-08-20T00:18:59" nodeName="Blik og facade" urlName="blik-og-facade" path="-1,1050,1071,1080,1081" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="FrontpageSliderItem">
          <image><![CDATA[1103]]></image>
          <header>Blik og bøjninger</header>
          <description><![CDATA[<p>Håndlavet blik bøjning.</p>]]></description>
          <link />
        </FrontpageSliderItem>
        <FrontpageSliderItem id="1082" parentID="1080" level="4" creatorID="0" sortOrder="5" createDate="2013-08-05T20:33:39" updateDate="2013-08-20T00:18:59" nodeName="Skråtrender" urlName="skraatrender" path="-1,1050,1071,1080,1082" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="FrontpageSliderItem">
          <image><![CDATA[1098]]></image>
          <header />
          <description><![CDATA[]]></description>
          <link />
        </FrontpageSliderItem>
        <FrontpageSliderItem id="1083" parentID="1080" level="4" creatorID="0" sortOrder="6" createDate="2013-08-05T20:33:55" updateDate="2013-08-20T00:18:59" nodeName="Blik og hammer" urlName="blik-og-hammer" path="-1,1050,1071,1080,1083" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="FrontpageSliderItem">
          <image><![CDATA[1097]]></image>
          <header />
          <description><![CDATA[]]></description>
          <link />
        </FrontpageSliderItem>
        <FrontpageSliderItem id="1135" parentID="1080" level="4" creatorID="0" sortOrder="7" createDate="2013-08-07T23:23:55" updateDate="2013-08-20T00:19:00" nodeName="Kvist" urlName="kvist" path="-1,1050,1071,1080,1135" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="FrontpageSliderItem">
          <image><![CDATA[1100]]></image>
          <header />
          <description><![CDATA[]]></description>
          <link />
        </FrontpageSliderItem>
      </FrontpageSliderFolder>
      <CategoryFolder id="1086" parentID="1071" level="3" creatorID="0" sortOrder="7" createDate="2013-08-05T20:52:43" updateDate="2013-08-20T00:19:00" nodeName="Kategori" urlName="kategori" path="-1,1050,1071,1086" isDoc="" nodeType="1084" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="CategoryFolder">
        <Category id="1088" parentID="1086" level="4" creatorID="0" sortOrder="4" createDate="2013-08-05T20:53:24" updateDate="2013-08-29T22:41:14" nodeName="Tag" urlName="tag" path="-1,1050,1071,1086,1088" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1152" parentID="1086" level="4" creatorID="0" sortOrder="4" createDate="2013-08-29T22:41:38" updateDate="2013-08-29T22:41:41" nodeName="Murkrone" urlName="murkrone" path="-1,1050,1071,1086,1152" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1089" parentID="1086" level="4" creatorID="0" sortOrder="5" createDate="2013-08-05T20:53:32" updateDate="2013-08-20T00:19:00" nodeName="Kviste" urlName="kviste" path="-1,1050,1071,1086,1089" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1153" parentID="1086" level="4" creatorID="0" sortOrder="5" createDate="2013-08-29T22:41:49" updateDate="2013-08-29T22:41:50" nodeName="Torne/Spir" urlName="tornespir" path="-1,1050,1071,1086,1153" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1140" parentID="1086" level="4" creatorID="0" sortOrder="6" createDate="2013-08-13T00:23:45" updateDate="2013-08-20T00:19:00" nodeName="Tagrender" urlName="tagrender" path="-1,1050,1071,1086,1140" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1154" parentID="1086" level="4" creatorID="0" sortOrder="6" createDate="2013-08-29T22:41:57" updateDate="2013-08-29T22:41:59" nodeName="Skotrender" urlName="skotrender" path="-1,1050,1071,1086,1154" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1090" parentID="1086" level="4" creatorID="0" sortOrder="7" createDate="2013-08-05T20:53:42" updateDate="2013-08-20T00:19:00" nodeName="Facader" urlName="facader" path="-1,1050,1071,1086,1090" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1155" parentID="1086" level="4" creatorID="0" sortOrder="7" createDate="2013-08-29T22:42:18" updateDate="2013-08-29T22:42:20" nodeName="Karnapper" urlName="karnapper" path="-1,1050,1071,1086,1155" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
        <Category id="1156" parentID="1086" level="4" creatorID="0" sortOrder="8" createDate="2013-08-29T22:42:29" updateDate="2013-08-29T22:42:31" nodeName="Skorsten" urlName="skorsten" path="-1,1050,1071,1086,1156" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Category">
          <header />
        </Category>
      </CategoryFolder>
      <umbracoNaviHide>1</umbracoNaviHide>
    </Global>
  </Frontpage>
</root>